.slider-container {
    margin: 35px auto 20px auto;
    width: 40%; 
    padding: 20px;
    background-color: #d8e9da;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.slider-container label {
    font-family: 'Karmina', serif;
    color: #4e472f;
    text-align: center;
}

.slider-container input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.slider-container span {
    font-family: 'Karmina', serif;
    color: #4e472f;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.upload-container label {
    font-family: 'Karmina', serif;
    color: #4e472f;
    margin-bottom: 10px;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label[for="file"] {
    padding: 10px 20px;
    background-color: #566758;
    color: #fbf7ef;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-container label[for="file"]:hover {
    background-color: #445446;
}

.upload-status {
    margin-top: 10px;
    font-family: 'Karmina', serif;
    color: #4e472f;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.upload-status.visible {
    opacity: 1;
}

input[type="range"] {
    width: 300px;
    margin: 0 10px;
}

body {
    font-family: 'Karmina', serif;
    color: #4e472f;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'Karmina', serif;
    color: #4e472f;
}

a {
    color: #fbf7ef;
    font-family: 'Karmina', serif;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.message {
    padding: 10px;
    margin: 10px 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px 0 40px 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.thumbnail-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
    position: relative;
    width: 100%;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.thumbnail-grid img {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 7px solid;
    border-radius: 16px;
    transition: border-color 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.thumbnail-grid img:hover {
    border-color: #d8e9da;
}

.thumbnail-grid img.selected {
    border-color: #566758;
    box-shadow: 0 0 10px #d8e9da;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button {
    color: #fbf7ef;
    font-family: 'Karmina', serif;
    font-size: 15px;
    display: inline-flex;
    padding: 10px 25px;
    background-color: #566758;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #445446;
}