{% extends "index.html" %}

{% block content %}
    <h1>Deck 2</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="grid-wrapper">
        <div class="thumbnail-grid">
            {% for thumbnail, title in zip(thumbnails, titles) %}
                <a href="{{ url_for('select_clip', clip_index=loop.index) }}">
                    <img src="data:image/jpeg;base64,{{ thumbnail }}" alt="File {{ loop.index }}" class="{% if loop.index == selection_index %}selected{% endif %}">
                    <div class="title-container">
                        <span class ="thumbnail-label" onclick="editTitle(event, {{ loop.index }} )">{{ title }}</span>
                        <div class="edit-form" id="edit-{{ loop.index }}" style="display: none;">
                            <input type="text" value="{{ title }}" id="input-{{ loop.index }}" onfocus="this.select()" onclick="this.select()" class="edit-input">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="button-container">
        <button class="button" onclick="window.location.href='{{ url_for('edit') }}'">Edit Exposure</button>
        <button class="button" onclick="window.location.href='{{ url_for('default_effects_deck') }}'">Default</button>
        <button class="button" onclick="window.location.href='{{ url_for('clear_all') }}'">Delete All Clips</button>
        {% if session.get("sides_on") == False %}
            <button class="button" onclick="window.location.href='{{ url_for('select_sides') }}'">Side Screens</button>
        {% else %}
            <button class="button" onclick="window.location.href='{{ url_for('select_center') }}'">Center Screen</button>
        {% endif %}
    </div>

    <div class="upload-container">
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <label for="file">Choose file to upload</label>
            <input type="file" id="file" name="file">
            <div class="upload-status" id="uploadStatus">No file selected</div>
            <div class="button-container"><button class="button" type="submit">Upload</button></div>
        </form>
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/decks.js') }}"></script>
    {% endblock %}
{% endblock %}