{% extends "index.html" %}

{% block content %}
    <h1>Deck 3</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div class="thumbnail-grid">
        {% for thumbnail in thumbnails %}
            <a href="{{ url_for('select_clip', clip_index=loop.index) }}">
                <img src="data:image/jpeg;base64,{{ thumbnail }}" alt="File {{ loop.index }}">
            </a>
        {% endfor %}
    </div>
    
    <div class="button-container">
        <button class="button" onclick="window.location.href='{{ url_for('add_effect') }}'">Edit Exposure</button>
        <button class="button" onclick="window.location.href='{{ url_for('remove_effects') }}'">Default</button>
        <button class="button" onclick="window.location.href='{{ url_for('clear_all') }}'">Delete All Clips</button>
    </div>

    {% if session.get("show_slider") %}
        <div class="slider-container">
            <form id="effectForm">
                <label for="exposure">Exposure</label>
                <input type="range" id="exposure" name="exposure" min="0" max="1" step="0.01" value="0.5">
                <span id="exposureValue">0.5</span>
            </form>
        </div>
    {% endif %}

    <div class="upload-container">
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <label for="file">Choose file to upload</label>
            <input type="file" id="file" name="file">
            <div class="upload-status" id="uploadStatus">No file selected</div>
            <div class="button-container"><button class="button" type="submit">Upload</button></div>
        </form>
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/decks.js') }}"></script>
    {% endblock %}
{% endblock %}